{% extends 'base.html' %}


{% block content %}
<style type="text/css">

	@media (max-width: 768px) { 
		.right-column{
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) { 
		.right-column{
			margin-left: 20px;
		}
	}

	.blog-post-container{
		background-color: #fff;
		margin-bottom: 20px;
		width: 100%;
	}
	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
	}

	.left-column{
		padding:0px;
	}

	.right-column{
		padding:0px;
	}

</style>
<div class="container">
	<div class="row">

		<!-- Top 'create post' bar -->
		<div class="create-post-bar d-lg-none col-lg-7 offset-lg-1">
			<p><a href="{% url 'blog:create' %}">Create post</a></p>
		</div>
		<!-- end Top 'create post' bar -->


		<!-- blog feed -->
		<div class="left-column col-lg-7 offset-lg-1">
			
			<div class="blog-post-container">
				<p>Thingy</p>
			</div>
			
			<div class="blog-post-container">
				<p>Thingy</p>
			</div>

			<div class="blog-post-container">
				<p>Thingy</p>
			</div>

			<div class="blog-post-container">
				<p>Thingy</p>
			</div>

		</div>
		<!-- end blog feed -->


		<!-- Right 'create post' column  -->
		<div class="right-column col-lg-3 d-lg-flex d-none flex-column">

			<div class="create-post-bar">
				<p>Stuff</p>
				<p>Stuff</p>
				<p>Stuff</p>
				<p><a href="{% url 'blog:create' %}">Create post</a></p>
			</div>
		
		</div>
		<!-- end Right 'create post' column  -->

	</div>
</div>

{% endblock content %}



